/* Navigation bar styles */

.navbar {
    background-color: rgba(84, 61, 33, 1); 
    color: #fff; 
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left img {
    max-height: 60px; 
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right ul {
    background-color: #fff;
    list-style: none;
    padding: 0 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.navbar-right ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-right ul li:last-child {
    margin-right: 0; 
}

.navbar-right ul li a {
    text-decoration: none;
    color: rgba(84, 61, 33, 1); 
}

.navbar-right ul li a:hover {
    text-decoration: underline; 
}

.navbar-right ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-right ul li:last-child {
    margin-right: 0;
}

.navbar-right ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(84, 61, 33, 1); 
    display: inline-block;
}

.navbar-right ul li a.button {
    font-family: Josefin sans-serif;
    background-color: rgb(242, 138, 10);
    color: #fff; 
    font-weight: bold;
    border-radius: 50px;
    margin: 15px;
    padding: 10px 10px;
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #fff;
    text-decoration: none;
    font-weight: bold;
    color: rgba(84, 61, 33, 1); 
    display: inline-block;
    padding: 10px 15px;
    border: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    max-width: 160px;
    right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    color: rgba(84, 61, 33, 1);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn{
    display: flex;
    justify-content: center; /* Center the navigation links */
    align-items: center;
}

.profile_photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    margin-right: 10px;
}



/*Footer styles*/

.footer {
    background-color: rgba(84, 61, 33, 1);
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}

.footer-left a img {
    max-height: 80px;
}

.footer-left p {
    font-size: 14px;
}

.footer-left p a {
    margin-right: 10px;
    color: #FFF;
}

.footer-left p a img {
    max-height: 40px;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    max-width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.column:last-child {
    margin-right: 0;
}

.column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.column p {
    font-size: 14px;
    margin: 10px;
}

/* Style the single line separator */
hr {
    border: none;
    border-top: 1px solid #FFF;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.footer-bottom a {
    color: #FFF;
}