/* Navigation bar styles */

.navbar {
    background-color: rgba(84, 61, 33, 1); 
    color: #fff; 
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left img {
    max-height: 60px; 
}

.navbar-right ul {
    background-color: #fff;
    list-style: none;
    padding: 10px 15px;
    border-radius: 50px;
    
}

.navbar-right ul li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between navigation links */
}

.navbar-right ul li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
}

.navbar-right ul li a {
    text-decoration: none;
    color: rgba(84, 61, 33, 1); /* Change to your desired link color */
}

.navbar-right ul li a:hover {
    text-decoration: underline; /* Add underline on hover, or customize as desired */
}

.navbar-right ul li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing between navigation links */
}

.navbar-right ul li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
}

.navbar-right ul li a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(84, 61, 33, 1); 
    display: inline-block;
}

.navbar-right ul li a.button {
    background-color: rgba(242, 138, 10, 1); 
    font-weight: bold;
    border-radius: 50px;
    padding: 5px 10px;
}

/*Footer styles*/

.footer {
    background-color: rgba(84, 61, 33, 1);
    color: #fff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left {
    flex: 1;
    max-width: 50%;
    padding-right: 20px;
}


.footer-left a img {
    max-height: 80px;
}

.footer-left p {
    font-size: 14px;
}

.footer-left p a {
    margin-right: 10px;
    color: #FFF;
}

.footer-left p a img {
    max-height: 40px;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.column {
    flex: 1;
    max-width: calc(25% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
}

.column:last-child {
    margin-right: 0;
}

.column h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.column p {
    font-size: 14px;
    margin: 10px;
}

/* Style the single line separator */
hr {
    border: none;
    border-top: 1px solid #FFF;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
}

.footer-bottom a {
    color: #FFF;
}
