body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.listing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.listing {
    margin: 20px;
    width: 320px;
    height: 480px;
    border: 3px solid rgba(84, 61, 33, 1);
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.listing-photo {
    position: relative;
}

.listing-photo img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.listing-price {
    position: absolute;
    width: 300px;
    top: 260px;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color:rgba(242, 138, 10, 0.575);
    padding: 5px 10px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
}

.listing-type {
    margin-top: 10px;
    position: absolute;
    width: 70px;
    top: 0px;
    left: 220px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(242, 138, 10, 1);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.listing-info {
    margin: 10px;

}

.listing-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.listing-address {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: dimgray;
    position: relative;
}

.listing-address img {
    max-width: 25px;
    max-height: 25px;
}

.listing-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: dimgray;
}

.listing-icons img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 5px;
}

.listing-icons .icon-bed,
.listing-icons .icon-bath,
.listing-icons .icon-size {
    display: flex;
    align-items: center;
}

.listing-publish {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    color: dimgray;
}

.listing-publish img {
    max-width: 25px;
    max-height: 25px;
    margin-right: 5px;
}

.listing-date {
    position: relative;
    left: 190px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.publisher-icon {
    position: relative;
    right: 180px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}